<div class="container-fluid">
  <h3 class="text-center">
    <%= @heading_text %>
  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>address</th>
        <th>city</th>
        <th>dob</th>
        <th>mobile</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'employees/index', employees: @employees %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).on('click', ".model-update-id", function(){
    debugger
    var id = $(this).attr('data-id');
    $.ajax({
      url: "/employees/"+ id + "/edit",
      type: "GET"
    });
  });
</script>
